################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/__pycache__/budget.cpython-37.pyc
/__pycache__/test_module.cpython-37.pyc
/.vs/fcc-budget-app/v16/.suo
/.vs/ProjectSettings.json
/.vs/PythonSettings.json
/.vs/slnx.sqlite
